# ------------------------------------------------------------------------------
# Application
# ------------------------------------------------------------------------------

APP_ENV=development
APP_SECRET_KEY= # openssl rand -hex 32

API_URL=http://localhost:3333
WEB_URL=http://localhost:3000
STORAGE_URL=http://localhost:9000

NEXT_PUBLIC_API_URL=http://localhost:3333
NEXT_PUBLIC_WEB_URL=http://localhost:3000
NEXT_PUBLIC_WEBSOCKET_URL=ws://localhost:3333
NEXT_PUBLIC_STORAGE_URL=http://localhost:9000


# ------------------------------------------------------------------------------
# Security & Encryption
# ------------------------------------------------------------------------------

ENCRYPTION_KEY= # openssl rand -hex 32
UPLOAD_SECRET= # openssl rand -hex 32
BETTER_AUTH_SECRET= # openssl rand -base64 32


# ------------------------------------------------------------------------------
# Database & Cache
# ------------------------------------------------------------------------------

DATABASE_URL=postgresql://postgres:supersecret@localhost:5432/niceyup-db
REDIS_URL=redis://localhost:6379


# ------------------------------------------------------------------------------
# Storage (S3-Compatible)
# ------------------------------------------------------------------------------

S3_DEFAULT_BUCKET=niceyup-bucket
S3_ENGINE_BUCKET=niceyup-engine-bucket

S3_REGION=auto
S3_ENDPOINT=http://localhost:9000

S3_ACCOUNT_ID=
S3_ACCESS_KEY=
S3_SECRET_KEY=


# ------------------------------------------------------------------------------
# Authentication Providers
# ------------------------------------------------------------------------------

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=


# ------------------------------------------------------------------------------
# Background Jobs (Trigger.dev)
# ------------------------------------------------------------------------------

TRIGGER_PROJECT_REF=proj_...
TRIGGER_SECRET_KEY=tr_dev_...


# ------------------------------------------------------------------------------
# Email (Resend)
# ------------------------------------------------------------------------------

RESEND_API_KEY=re_...
RESEND_FROM_EMAIL="Davy from Niceyup <davy@niceyup.team>"


# ------------------------------------------------------------------------------
# Notifications (Novu)
# ------------------------------------------------------------------------------

NOVU_SECRET_KEY=
